.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 220px;
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.main-content {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.selected-button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background-color: #2b3dff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #10b981;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ef4444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.role-message {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
